<div class="settings__panel settings__panel--entropy panel shadow center">
  <header>
    <h2 class="divider txt-large">Auto close</h2>
    <p class="margin-none-block-start">BOXCAR doesn’t let stale cards stick around forever. Cards automatically close as “Not Now” without activity for specific period of time. <em>This is the default, global setting — you can override it on each board.</em></p>
  </header>

  <%= render "entropy/auto_close", model: account.default_entropy_configuration, url: account_entropy_configuration_path %>
</div>
