<% @page_title = "Account Settings" %>

<% content_for :header do %>
  <h1 class="header__title"><%= @page_title %></h1>
<% end %>

<section class="settings margin-block-start-half">
  <div class="settings__panel settings__panel--users panel shadow center">
    <%= render "account/settings/name", account: @account %>
    <%= render "account/settings/users", users: @users %>
  </div>

  <%= render "account/settings/entropy_configuration", account: @account %>
</section>
