<li class="popup__item" data-filter-target="item" data-navigable-list-target="item" id="filter-board-<%= board.id %>">
  <%= icon_tag "board", class: "popup__icon" %>
  <%= link_to board_path(board), class: "popup__btn btn" do %>
    <span class="overflow-ellipsis"><%= board.name %></span>
  <% end %>
</li>
