<% @page_title = "Notifications settings" %>

<% content_for :header do %>
  <h1 class="header__title"><%= @page_title %></h1>
<% end %>

<section class="settings">
  <div class="settings__panel settings__panel--users panel shadow center">
    <h2 class="txt-medium txt-uppercase divider">Boards</h2>
    <div class="settings__user-list flex flex-column gap-half">
      <%= render partial: "notifications/settings/board", collection: @boards, locals: { user: Current.user } %>
    </div>
  </div>

  <div class="settings__panel panel shadow center">
    <%= render "notifications/settings/push_notifications" %>
    <%= render "notifications/settings/email", settings: @settings %>
  </div>
</section>
