<section class="cards cards--grid">
  <%= with_automatic_pagination :filtered_cards_paginated_container, page do %>
    <%= render "cards/display/previews", cards: page.records, draggable: true %>
  <% end %>
</section>
