<section id="<%= dom_id(column) %>"
  class="cards cards--doing is-collapsed" style="--card-color: <%= column.color %>;"
  data-collapsible-columns-target="column"
  data-controller="clicker"
  data-action="turbo:before-morph-attribute->collapsible-columns#preventToggle"
>
  <%= render "boards/show/expander", title: column.name, count: column.cards.active.count, column_id: dom_id(column) %>

  <%= column_frame_tag dom_id(column, :cards), src: public_board_column_path(column.board.publication.key, column) %>
</section>
