<section id="considering-cards" class="cards cards--considering">
  <% if page.used? %>
    <%= render "cards/display/public_previews", cards: page.records %>

    <% unless page.last? %>
      <div class="full-width">
        <%= public_board_cards_next_page_link board, "considering-cards", page: page %>
      </div>
    <% end %>
  <% else %>
    <p class="txt-medium translucent">Nothing here</p>
  <% end %>
</section>
