<section id="considering-cards" class="cards cards--on-deck">
  <h2 class="cards__heading">
    On Deck
  </h2>

  <% if page.used? %>
    <%= render partial: "cards/display/public_preview", collection: page.records, as: :card, cached: true %>

    <% unless page.last? %>
      <div class="full-width">
        <%= public_board_cards_next_page_link board, "on-deck-cards", page: page %>
      </div>
    <% end %>
  <% else %>
    <p class="txt-medium translucent">Nothing here</p>
  <% end %>
</section>
