<%= link_to column_path, class: "cards__expander-button btn btn--circle txt-x-small borderless", data: { turbo_frame: "_top" } do %>
  <%= icon_tag "expand", class: "translucent" %>
  <span class="for-screen-reader">Expand column</span>
<% end %>
