service: fizzy
image: basecamp/fizzy


x-basecamp-registry: &basecamp-registry
  username: bcbot
  password:
    - BASECAMP_REGISTRY_PASSWORD

x-beamer-accessory: &beamer-accessory
  image: basecamp/beamer
  registry:
    <<: *basecamp-registry
  options:
    user: 1000 # Match the UID of the Rails app, for volume permissions
  volumes:
    - fizzy:/storage


servers:
  jobs:
    cmd: bin/jobs

accessories:
  beamer-primary:
    <<: *beamer-accessory
    service: beamer-primary
    cmd: beamer primary --remove-after=1h --dir=/storage
    port: 5000:80
    roles:
      - web

  beamer-replica:
    <<: *beamer-accessory
    service: beamer-replica
    cmd: beamer replica --primary=http://fizzy-app-101:5000/ --dir=/storage
    roles:
      - web-replica

volumes:
  - fizzy:/rails/storage

proxy:
  ssl: true

registry:
  <<: *basecamp-registry

builder:
  arch: amd64
  secrets:
    - GITHUB_TOKEN

env:
  secret:
    - SECRET_KEY_BASE

aliases:
  console: app exec -i --reuse "bin/rails console"
