<section id="considering-cards" class="cards cards--considering" data-drag-and-drop-target="container"  data-drop-target="considering">
  <h2 class="cards__heading">
    Considering
  </h2>

  <% if page.used? %>
    <%= render partial: "cards/display/preview", collection: page.records, as: :card, locals: { draggable: true }, cached: true %>

    <% unless page.last? %>
      <%= cards_next_page_link "considering-cards", page: page, filter: filter %>
    <% end %>
  <% else %>
    <p class="txt-medium translucent">Nothing here</p>
  <% end %>
</section>
