<div class="search__header">
  <button class="btn txt-x-small" data-action="bar#reset">
    <%= icon_tag "remove" %>
    <span class="for-screen-reader">Close</span>
  </button>
</div>

<section class="search">
  <div class="search__results">
    <% unless page.used? %>
      <div class="search__empty">
        No matches
      </div>
    <% end %>

    <ul class="search__list">
      <%= with_automatic_pagination :filtered_search_results, page do %>
        <%= render partial: "searches/result", collection: page.records %>
      <% end %>
    </ul>
  </div>
</section>
