<% if eventable&.has_attachments? || eventable&.has_remote_images? || eventable&.has_remote_videos? %>
  <span class="event_attachments margin-block-half flex align-center gap-half">
    <%= render partial: "events/event/attachments/attachment", collection: eventable.attachments %>
    <%= render partial: "events/event/attachments/remote_image", collection: eventable.remote_images %>
    <%= render partial: "events/event/attachments/remote_video", collection: eventable.remote_videos %>
  </span>
<% end %>
