<%= collapsible_nav_section "People" do %>
  <li class="popup__item" data-filter-target="item" data-navigable-list-target="item">
    <%= icon_tag "add", class: "popup__icon" %>
    <%= link_to account_join_code_path, class: "popup__btn btn" do %>
      <span class="overflow-ellipsis">Add people</span>
    <% end %>
  </li>

  <%= render partial: "my/menus/users/user", collection: user_filtering.users, as: :user %>
<% end %>
