<%= turbo_frame_tag dom_id(@column, :cards) do %>
  <% if @page.used? %>
    <%= with_automatic_pagination dom_id(@column, :cards), @page do %>
      <%= render "public/boards/columns/list", cards: @page.records %>
    <% end %>
  <% else %>
    <div class="card blank-slate blank-slate--card">
      <p class="txt-align-center txt-normal">No cards here</p>
    </div>
  <% end %>
<% end %>
